*, *::before, *::after {
  box-sizing: border-box;
}
.page-wrap {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 1rem;
  width: 100%;
}
@media (max-width: 576px) {
  .row.g-4 {
    --bs-gutter-x: 1rem;
    --bs-gutter-y: 1.5rem;
  }
}
